{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion articles</h1>

    <p>
        <a class="btn btn-outline-primary"
            href="{{ path('app_admin_article_edit') }}">
            Ajouter un article
        </a>
    </p>

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(search_form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.category) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.start_date) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.end_date) }}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-info">
                    Rechercher
                </button>
            </div>
            {{ form_end(search_form) }}
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Catégorie</th>
            <th>Auteur</th>
            <th>Commentaires</th>
            <th width="300px"></th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.publicationDate|date('d/m/Y H:i:s') }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.author }}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_comment_index', {'id': article.id}) }}">
                        {{ article.comments|length }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('app_admin_article_edit', {'id': article.id}) }}">
                        Modifier
                    </a>
                    <a class="btn btn-danger btn-delete"
                       href="{{ path('app_admin_article_delete', {'id': article.id}) }}">
                        Supprimer
                    </a>
                    <a href="{{ path('app_admin_article_ajaxcontent', {'id': article.id}) }}"
                       class="btn btn-outline-secondary btn-article-content">
                        Aperçu
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {# modal confirmation suppression #}
    <div class="modal" tabindex="-1" role="dialog" id="modal-confirm-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Etes-vous sûr.e de vouloir supprimer cet article&nbsp;?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-confirm-delete">Oui</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>

    {# modal aperçu du contenu #}
    <div class="modal" tabindex="-1" role="dialog" id="modal-article-content">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aperçu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# reprend le contenu du block javascripts de base.html.twig #}
    {{ parent() }}
    <script src="{{ asset('js/admin_article.js') }}"></script>
{% endblock %}
